* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    background-color: #eee;
}

.header-menu {
    background-color: #505050;
    height: 40px;
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    width: 125px;
}

.logo img {
    width: 150px;
    height: 40px;
}

.search_box {
    background-color: #505050;
    position: absolute;
    top: 8px;
    margin-left: 180px;
}

#search input[type="text"] {
    background-color: #404040;
    outline: none;
    border: 0 none;
    font: bold 12px Arial;
    width: 350px;
    padding: 6px 15px 6px 15px;
    margin: 0;
}

#search input[type="text"]:focus {
    background-color: #606060;
    width: 350px;
}

@media screen and (max-width: 1280px) {
    #menu {
        background-color: #404040;
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        padding-top: 10px;
        margin-left: 4%;
    }
}

@media screen and (min-width: 1280px) {
    #menu {
        background-color: #404040;
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        padding-top: 10px;
        margin-left: 6%;
    }
}

#menu a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
    background-color: #404040;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu a:hover {
    background-color: #606060;
}

h2 {
    font-family: Arial;
    font-size: 20px;
    padding: 8px;
    color: #202020
}

input[type="text"] {
    background-color: #d0d0d0;
    border: 2px solid #c0c0c0;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

input[type="text"]:hover {
    background-color: #d0d0d0;
    border: 2px solid #606060;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

input[type="submit"] {
    background-color: #00c3e3;
    border: 2px solid #404040;
    font-size: 15px;
    color: #505050;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 3px;

}