* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body {
    background-color: #eee;
}

.header-menu {
    background-color: #505050;
    height: 40px;
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

.logo {
    width: 125px;
}

.logo img {
    image-rendering: auto;
    width: 150px;
    height: 40px;
}

.search_box {
    background-color: #505050;
    position: absolute;
    top: 8px;
    margin-left: 180px;
}

#search input[type="text"] {
    background-color: #404040;
    outline: none;
    border: 0 none;
    font: bold 12px Arial;
    width: 350px;
    padding: 6px 15px 6px 15px;
    margin: 0;
}

#search input[type="text"]:focus {
    background-color: #606060;
    width: 350px;
}

@media screen and (max-width: 1280px) {
    #menu {
        background-color: #404040;
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        padding-top: 10px;
        margin-left: 4%;
    }
}

@media screen and (min-width: 1280px) {
    #menu {
        background-color: #404040;
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        padding-top: 10px;
        margin-left: 6%;
    }
}

#menu a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 14px;
    background-color: #404040;
    padding: 10px;
}

#menu a:hover {
    background-color: #606060;
}

h2 {
    font-family: Arial, serif;
    font-size: 20px;
    padding: 8px;
    color: #202020
}

input[type="text"], input[type="password"] {
    background-color: #d0d0d0;
    border: 2px solid #c0c0c0;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

input[type="text"]:hover, input[type="password"]:hover {
    background-color: #d0d0d0;
    border: 2px solid #606060;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

input[type="submit"] {
    background-color: #303030;
    border: 1px solid #404040;
    font-size: 15px;
    color: #c0c0c0;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.textHeader {
    background-color: #404040;
    width: 190px;
    height: 15px;
    padding: 5px 0;
    border-bottom: 1px solid #606060;
    font-weight: 600;
}

.profileLeftSideContent {
    width: 190px;
    padding: 5px 0;
    height: 200px;
    text-align: justify;
}

.postForm {
    float: right;
    width: 600px;
    height: 80px;
    background-color: #505050;
}

.profilePosts {
    float: right;
    width: 600px;
    height: 100vh;
    background-color: #d0d0d0;
}

hr {
    background-color: #ccc;
    height: 1px;
    border: 0;
}

.posted_by {
    font-weight: 800;
    color: #333;
    float: left;
}

.posted_by a {
    font-weight: 800;
    color: #444;
    text-decoration: none;
}

.posted_by a:hover {
    font-weight: 800;
    color: #555;
    text-decoration: underline;
}

textarea {
    background-color: #eee;
    border: 2px solid #c0c0c0;
    font-size: 15px;
    padding: 5px;
    outline: none;
    margin: 10px;
}

img {
    image-rendering: pixelated;
}

.newsFeed h2 {
    background-color: #505050;
    border: 1px solid #606060;
    font-size: 15px;
    color: #eee;
    margin-top: 5px;
}

.newsFeedPost {
    background-color: #ddd;
    color: #202020;
    padding: 5px 5px;
    margin: 3px 0;
    border: 1px solid #aaa;
}

.newsFeedPost a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.newsFeedPost a:hover {
    color: #555;
    width: 80%;
    text-decoration: none;
}

.postinfo {
    color: #777;
    width: 80%;
}

.postdata {
    text-align: justify;
    width: 90%;
    color: #444;
}

.newsFeedPostComments {
    width: 95%;
    background-color: #ccc;
    border: 1px solid #bbb;
    padding: 2px 2px;
    margin-left: 20px;
    margin-bottom: 2px;
    word-wrap: break-word;
}

.searchResult {
    border: 2px solid #bbb;
    padding: 10px;
    background-color: #ddd;
    margin: 10px 0;
}
.searchResult:hover {
    background-color: #aaa;
}

.searchResult a {
    color: #333;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
.location {
    float: right;
    font-size: 32px;
}
.likebtn {
    float: right;
    margin-top: 5px;
    margin-right: 20px;

}