body {
	background-color: #fff;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 40%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: darkgray;
}

p {
	color: gray;
	text-align: left;
}

li {
	text-align: left;
}


#nav ul {
	list-style-type: none;
	width: 100%;
	color: #808080;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

#nav ul li {
	display: inline-block;
}

#nav ul li a {
	display: block;
	color: #222;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav ul li a:hover {
	background-color: #ddd;
	color: black;
}

a {
	color: #f1da06
}

img {
	filter:grayscale(100%);
}

img:hover {
	filter:saturate(200%);
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #888;
	text-align: left;
	padding: 8px;
}

tr:nth-child(1) {
	background-color: #dddddd;
}