body {
	background-color: #eee;
    align-items: center;
	text-align: center;
	margin: 0 auto;
    width: 60%;
    font-size: 24px;
}

table tbody, table thead {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    overflow: hidden;
    padding: 5px;
    column-width: 40px;
    border: 1px solid;
}

.pickrounds td:hover {
    background-color: lightgray;
}

.dieces tr:hover:nth-child(2)  td:hover:nth-child(3) {
    background-color: lightgray;
}

.table tr:hover:nth-child(1n+2) {
    background-color: lightgray;
}

span {
    flex: 40%;
    padding: 10px;
}

.game_area {
    display: flex;
    justify-content: center;
}

.dieces td {
    width: 40px;
    height: 40px;
}