body {
	background-color: #fefefe;
    align-items: center;
	text-align: center;
	margin: 0 auto;
    width: 60%;
    font-size: 24px;
}

.game_area {
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    overflow: hidden;
    padding: 10px;
    border: 1px solid;
}

.pickrounds td:hover {
    background-color: lightgray;
}

.table tr:nth-child(1){
    font-weight: bold;

}

.table tr:hover:nth-child(1n+2){
    background-color: lightgray;
}


span {
    flex: 20%;
    padding: 5px;
}


.dieces tr:hover:nth-child(2)  td:hover:nth-child(3) {
    background-color: lightgray;
}

.dieces td {
    display: block;
    width: 40px;
    height: 40px;
    padding: 20px;
}

.pickrounds td {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 100px;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 32px;
    height: 32px;
  }